*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

html, body{
 height: 100%;
 color: #555;
}

html{
 scroll-behavior: smooth;
}

a{
 text-decoration: none;
}

hr{
 width: 150px;
 height: 2px;
 background-color: #046df6;
 border: 0;
 margin-bottom: 80px;
}

header{
 width: 100%;
 height: 110%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 color: #fff;
 padding: 35px 100px;
 background: rgba(0, 0, 0, 0.75) url("../img/home.png");
 background-blend-mode: darken;
 background-attachment: fixed;
}

header #navegacao{
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 justify-content: space-around;
 height: 80px;
 background-color: rgba(0, 0, 0, 0.5);
 position: fixed;
 top: 0px;
 align-items: center;
}

#navegacao h2{
 font-family: Verdana;
}

#navegacao nav{
1
 display: flex;
 align-items: center;
 justify-content: space-between;
}

#navegacao nav a, #navegacao h2 a{
 margin: 0px 15px;
 color: #fff;
}

#inicio{
 display: flex;
 align-items: center;
 justify-content: center;
 color: #fff;
 width: 100%;
 text-align: center;
}

#inicio h1{
 font-size: 58pt;
 font-weight: bold;
 margin-bottom: 15px;
}

#inicio h3{
 font-size: 25pt;
 margin-bottom: 40px;
}

.title{
 color: #414a4f;
 font-size: 28pt;
 font-weight: bold;
 text-align: center;
 margin-bottom: 35px;
 font-style: italic;
}

p{
 text-align: center;
 margin-bottom: 35px;
 padding: 0 20px;
 line-height: 25px;
}

#portfolio, #servicos, #sobre, #contato{
 min-height: 100%;
}

#portfolio, #sobre{
 background-color: #fff;
}

#servicos, #contato{
 background-color: #e6e3e3;
}

#portfolio .grid{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 padding: 20px;
}

#portfolio .grid img{
 height: 250px;
 margin: 5px;
 flex-grow: 2;
}

#servicos .grid{
 width: 100%;
 display: flex;
 justify-content: center;
}

#servicos .grid div{
 padding: 0px 30px;
 width: 33%;
 text-align: center;
}

#servicos .grid i{
 color: #2196f3;
 font-size: 40pt;
 margin-bottom: 25px;
 text-align: center;
}

#servicos .grid h4{
 color: #555;
 font-size: 18pt;
 margin-bottom: 25px;
}

#sobre p{
 text-align: center;
 width: 80%;
 font-size: 18pt;
 line-height: 40px;
 margin-bottom: 20px;
}

#view{
 width: 48px;
 height: 48px;
 font-size: 20pt;
 color: #fff;
 padding: 5px;
 border-radius: 24px;
 display: flex;
 align-items: center;
 justify-content: center;
3
 background-color: #557daa;
 cursor: pointer;
}

.borda{
 width: 55px;
 height: 55px;
 border-radius: 30px;
 border: 2px dashed #557daa;
 position: absolute;
}

#skills{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 100%;
}

#skills div{
 margin: 20px auto;
 width: 50%;
 text-align: center;
}

#skills span{
 display: none;
}

.barra{
 background-color: #ccc;
 height: 30px;
 width: 100%;
 border-radius: 15px;
 margin: 5px;
}

#contato form{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 flex-direction: column;
}

#contato form input{
 padding: 15px;
 width: 70%;
 font-size: 16pt;
 color: #555;
}

#contato form .btn{
 padding: 18px 42px;
 background-color: #0c8cf5;
 color: #fff;
 border: none;
4
 font-size: 20pt;
}

footer{
 display: flex;
 flex-direction: column;
 align-items: center;
 color: #fff;
 background-color: #444444;
 padding: 60px 0px;
}

footer div{
 display: flex;
 margin-bottom: 25px;
 font-size: 38pt;
}

footer a{
 margin: 0px 10px;
 color: #fff;
}

#portfolio, #servicos, #sobre, #contato{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 125px 100px;
}

@keyframes rotacao {
 0%{
 transform: rotate(0deg);
 }
 100%{
 transform: rotate(360deg);
 }
}

.borda{
 animation: rotacao 5s linear infinite;
}

@keyframes porcentagem {
 0%{
 width: 0%;
 }
}

#view:hover + section div span{
 animation: porcentagem 2s;
 height: 30px;
 line-height: 25px;
 border-radius: 15px;
 color: #fff;
 background-color: #7a0909;
 border: 3px solid #ccc;
5
 padding: 0;
 display: block;
}

#skills div:nth-child(1) span{
 width: 90%;
}
#skills div:nth-child(2) span{
 width: 100%;
}
#skills div:nth-child(3) span{
 width: 30%;
}
#skills div:nth-child(4) span{
 width: 50%;
}
#skills div:nth-child(5) span{
 width: 25%;
}
#skills div:nth-child(6) span{
 width: 100%;
}
@media (max-width: 768px){
 header {
 padding: 0;
 background-size: auto 100%;
 }

 #navegacao h2 a{
 font-size: 0.9em;
 }
 
 #inicio div{
 width: 100%;
 }
 
 #inicio h1{
 font-size: 3em;
 }
 
 #inicio h3{
 font-size: 1.5em;
 }
 
 #portfolio, #servicos, #sobre, #contato{
 padding-left: 10px;
 padding-right: 10px;
 }
 
 .grid{
6
 padding: 0;
 flex-direction: column;
 }
 
 .grid img{
 width: 100%;
 height: auto;
 }
 
 #servicos .grid{
 flex-direction: column;
 }
 
 #servicos .grid div{
 width: 100%;
 padding: 10px;
 }
 
 #contato form input{
 width: 100%;
 }
 
 #skills{
 flex-direction: column;
 }
 #skills div{
 width: 90%;
 margin: 5px auto;
 }
}